# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\aippolitov\YandexDisk\Компьютер 5CD6084HYF\Personal_learning\QA_GURU\IdeaProjects\Tohtig-QA_7_git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
